{% extends "templates/site.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ STYLESHEETS }}home.css">
{% endblock stylesheets %}

{% block content %}

<main>
    <h1>ScootLease</h1>
    <section id="hero">
        <div>
            <h1>Ride everywhere <br /><span style="font-size: 2rem;">{{ "avec"|trans}} <span style="color: #FD7014; text-transform: uppercase;">TURBO</span> {{ "efficacité"|trans}}</span></h1>
        </div>
        <div>
            <img src="{{ UPLOADS }}images/young-man-riding-electric-scooter-isolated-flat-vector-illustration-cartoon-hipster-riding-along-sidewalk-in-city-park/8728.jpg" alt="young-man-riding-electric-scooter">
        </div>
    </section>

    <section id="block-description">
        <div>
            <h2 style="color: orange;">{{ "La Securité"|trans }}</h2>
            <p>{{ "La sécurité est une priorité chez Turbo. Et elle est présente à toutes les étapes : lorsque nous concevons et améliorons nos véhicules, lorsque nous développons l'éducation et la formation des conducteurs ou lorsque nous collaborons avec les villes pour améliorer la circulation et donner la priorité aux piétons sur les voitures. Et les chiffres nous encouragent à continuer dans cette voie puisque l'année dernière : 99,99 % de nos trajets se sont déroulés sans aucun incident! Pour maintenir ce niveau de sécurité, nous avons collecté des informations provenant de plus de 300 millions de trajets, ce qui nous permet d’anticiper la prévention et d’améliorer la sécurité de nos utilisateurs mais aussi celle de tous les usagers de la route."|trans }}</p>
        </div>
        <div class="bg-img">
            <img src="{{ UPLOADS }}images/full-shot-people-with-electric-scooter-outdoors.jpg">
        </div>
    </section>

    <section id="block-visit-shop">
        <h2>{{ "Visiter la boutique !"|trans }}</h2>
        <div class="container">
            {% for product in vitrine.products %}
                <div>
                    <a href="{{ BASEURL }}product/{{ product.id }}/" style="color: black; text-decoration: none;">
                        <div>{{ product.name }}</div>
                        <div><img src="{{ UPLOADS }}{{ product.images[0].path}}" style="max-width: 100%;" alt=""></div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <a href="{{ BASEURL }}shop/">{{ "Voir plus"|trans }}...</a>
    </section>

    <section id="block-article-one">
        <div class="bg-img"><img src="{{ UPLOADS }}images/eco-transport-design-concept-set-of-six-square-icons-with-people-riding-bikes-skateboards-and-electric-cars-illustration/2104.i605.023.F.m005.c7.eco transport design concept.jpg" alt=""></div>
        <div style="margin-top: 45px;">
            <h2>{{ "Ensemble pour un monde plus VERT"|trans }} !</h2>
            <p>{{ "Le transport est la plus grande source mondiale d'émissions de gaz à effet de serre perturbant le climat, contribuant à environ 25 % du CO2 mondial. Pour lutter contre le changement climatique et rendre les villes plus saines et plus vivables, nous devons révolutionner le transport urbain vers un avenir partagé, électrique et sans carbone. La micromobilité électrique partagée peut être l'un des modes les plus durables au monde, avec le potentiel de remplacer tous les trajets en voiture de moins de 8 km. C'est notre objectif."|trans}}</p>
            <a href="{{ BASEURL }}weather/">Voir la météo d'aujourd'hui !</a>
        </div>
    </section>

    <section id="block-subscriptions">
        <h2>{{ "Passer voir nos abonnements"|trans }}</h2>
        <p>Découvrez les meilleures offres. Grâce à nos abonnements vous pourrez à présent économiser sur vos trajets en trottinette.</p>
        <a href="{{ BASEURL }}subscriptions/">Voir les abonnements</a>
    </section>


    <section id="block-description">
        <div>
            <h2 style="color: orange;">{{ "L'Élégance"|trans }}</h2>
            <p>{{ "Doté d’une batterie amovible et interchangeable, la trottinette électrique Gen4.2 est notre modèlede trottinette à l’espérance de vie la plus longue. Elle a été conçue pour une conduite plus confortable,avec un deck plus large et un centre de gravité plus bas afin de vous offrir une meilleure tenue de route."|trans }}</p>
            <a href="{{ BASEURL }}game/">{{ "Tester la trottinette"|trans }}</a>
        </div>
        <div id="webgl"></div>
    </section>
    
</main>

{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script type="module" src="{{ HOST }}javascript/webgl/webgl.js"></script>
{% endblock javascripts %}
